<h1>Registrate</h1>
<form class="mt-5" id="pet-form">
    {{> input name="name" type="text" id="user-name" label="Nombre completo" }}
    {{> input name="email" type="email" id="user-email" label="Correo electronico" }}
    {{> input name="password" type="password" id="user-pass" label="Contraseña" }}
    {{> input type="password" id="user-confirm-pass" label="Confirma tu contraseña" }}
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>