<div class="card">
  <img src={{pet.photo}} class="card-img-top" alt="una mascota" style="height: 150px; object-fit: contain;">
  <div class="card-body">
    <h5 class="card-title">{{pet.name}}</h5>
    <a href="#" class="btn btn-primary">Ver más detalles</a>
  </div>
</div>